@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

/* Default Light Theme */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-repeat: no-repeat;
} */

/* Dark Theme */
.dark :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
